.header {
  margin-top:30px;
  display: "flex";
  align-items: "center";
  text-align: center;
  padding: "1rem";
  border-bottom: "1px solid #ddd";
}

.logo {
  font-size:1.6rem;
  font-weight:600;
  padding:10px 15px;
  border-radius:20px;
}